<p>
地点：<input name="place" value="<%== place%>">

描述：<input name="desc" value="<%== desc%>">

指数：<input name="aqi" value="<%== aqi%>">

</p>

<p>
<button class="btn btn-default" data-dismiss="modal">提交</button>
</p>